.container{
    background-image: linear-gradient(rgba(44, 172, 172, 0.72), rgba(232, 232, 23, 0.44), #108eeb);
    height: 180vh;
}
.img{
    border-radius: 30px;
    padding-top: 10px;
}
.text1{
    padding-left: 10px;
    color: white;
    font-size: 40px;

}
.layout{
    justify-content: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 20px;

}
one{
    padding-left: 10px;
}
.text2{
    padding-left: 10px;
    color: rgb(96, 9, 235);
    padding-top: 20px;
    margin: 10px;
    font-size: 20px;
}
.text3{
    padding-left: 10px;
    color: #ffffff;
    padding-top: 10px;
    margin: 10px;
    font-size: 35px;
}
.layoutcard{
    justify-content: flex-end;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 10px;

}
.img11{
    height: 300px;
    border-radius: 20px;

}
.img22{
    height: 300px;
    border-radius: 20px;

}
.img33{
    height: 300px;
    border-radius: 20px;
}